<div class="content-wrapper">

  <app-header></app-header>

  <div class="page-container">
    <section class="hero-section">
      <div class="shield-wrapper">
        <lucide-icon [img]="ShieldCheck"></lucide-icon>
      </div>
      <h1>Generate Strong Passwords</h1>
      <p>Create secure, random passwords to keep your accounts safe.</p>
    </section>

    <app-password-display
      [password]="password"
      (refresh)="handleRefresh()">
    </app-password-display>

    <app-password-options
      [isLoading]="isLoading"
      (generate)="handleGenerate($event)">
    </app-password-options>
  </div>
</div>
