.page-container {
  margin: 0 auto;
  padding: 32px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

.hero-section h1 {
  font-size: 42px;
  margin: 24px 0 5px;
}

.hero-section p {
  font-size: 22px;
}

.shield-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E1E49;
  border-radius: 50%;
}

.shield-wrapper lucide-icon {
  width: 32px;
  height: 32px;
  color: #513EAD;
}

:host ::ng-deep .shield-wrapper lucide-icon svg {
  width: 32px;
  height: 32px;
}
