header {
  width: 100%;
  padding: 0 15px;
  background-color: #0A0B17;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

header-content p {
  font-size: small;
  font-weight: normal;
}

lucide-icon {
  width: 24px;
  height: 24px;
  color: #513EAD;
}
