<div class="password-options">
  <div class="settings-header">
    <lucide-icon [img]="Settings"></lucide-icon>
    <p>Password Settings</p>
  </div>
  <div class="slider-wrapper">
    <div class="slider-header">
      <label>Password length</label>
      <span class="slider-value">{{ passwordLength }}</span>
    </div>
    <input type="range" min="8" max="32" [(ngModel)]="passwordLength" class="range-slider">
  </div>
  <div class="options-grid">
    <div class="option-card">
      <div class="option-content">
        <span>Include numbers</span>
        <p class="helper-text">Adds digits from 0 to 9</p>
      </div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="includeNumbers" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="option-card">
      <div class="option-content">
        <span>Include uppercase letters</span>
        <p class="helper-text">Adds letters from A to Z</p>
      </div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="includeUppercase" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="option-card">
      <div class="option-content">
        <span>Include symbols</span>
        <p class="helper-text">Adds special characters like ! &#64; # $ %</p>
      </div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="includeSymbols" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="option-card">
      <div class="option-content">
        <span>Exclude ambiguous characters</span>
        <p class="helper-text">Avoids characters like &#123; &#125; [ ] / \\</p>
      </div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="excludeAmbiguous" />
        <span class="toggle-slider"></span>
      </label>
    </div>
  </div>
  <button
    type="button"
    class="button"
    (click)="onGenerate()">
    Generate Password
  </button>
</div>
