<div class="password-options">
  <div class="settings-header">
    <lucide-icon [img]="Settings"></lucide-icon>
    <p>Password Settings</p>
  </div>
  <div class="slider-wrapper">
    <div class="slider-header">
      <label>Password length</label>
      <span class="slider-value">{{ passwordLength }}</span>
    </div>
    <input type="range" min="8" max="32" [(ngModel)]="passwordLength" class="range-slider">
  </div>
  <div class="options-grid">
    @for (option of options; track option.label) {
      <div class="option-card">
        <div class="option-content">
          <span>{{ option.label }}</span>
          <p class="helper-text">{{ option.helper }}</p>
        </div>

        <label class="switch">
          <input
            type="checkbox"
            [(ngModel)]="$any(this)[option.model]" />

          <span class="toggle-slider"></span>
        </label>
      </div>
    }
  </div>
  <button
    type="button"
    class="button"
    (click)="onGenerate()"
    [disabled]="isLoading">
    {{ isLoading ? "Generating..." : "Generate Password" }}
  </button>
</div>
