.password-options {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px 32px;
  border-radius: 24px;
  background: #15192A;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4),
  0 0 24px rgba(99, 102, 241, 0.12);
}

.settings-header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 14px;
}

.settings-header p {
  font-weight: 700;
}

lucide-icon {
  width: 24px;
  height: 24px;
  color: #70748C;
}

.slider-wrapper {
  padding: 20px;
  border: 1px solid #2b3148;
  border-radius: 16px;
  background: #171b2d;
  margin-bottom: 24px;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.slider-value {
  padding: 8px 12px;
  border: 1px solid #2b3148;
  border-radius: 10px;
  color: white;
  background: #15192A;
  font-weight: 600;
}

input[type="range"] {
  width: 100%;
  accent-color: #8b5cf6;
  border-radius: 12px;
  border: 1px solid #70748C;
}

.switch {
  position: relative;
  width: 52px;
  height: 30px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  inset: 0;
  background-color: #8b5cf6;
  border-radius: 999px;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .toggle-slider:before {
  transform: translateX(22px);
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.option-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #2b3148;
  border-radius: 16px;
  background: #171b2d;
}

.option-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.helper-text {
  margin: 0;
  font-size: 13px;
  color: #70748C;
}

.button {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #6245E5;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
}

.button:hover {
  background: #513EAD;
  transition: 0.3s ease;
}
