<div class="password-display">
  <p>Your generated password</p>
  <div class="password-row">
    <p class="password-value">{{ password || "Click generate password" }}</p>
    <div class="button-wrapper">
      <button type="button" class="icon-button" (click)="copyPassword()" [disabled]="!password">
        <lucide-icon [img]="Copy"></lucide-icon>
      </button>
      <button type="button" class="icon-button" (click)="onRefresh()" [disabled]="!password">
        <lucide-icon [img]="RefreshCw"></lucide-icon>
      </button>
    </div>
  </div>
</div>
